parameters:
    level: 9
    paths:
        - src
        - examples
        - tests
    ignoreErrors:
        - message: '#Class [a-zA-z\\]+ has an uninitialized readonly property \$\w+\. Assign it in the constructor\.#'
          path: examples/*.php